* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    justify-content: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #CAD2C5;
    padding: 20px;
}

/* Header */
.header {
    border: 1px solid #5c677d;
    background-color: #5c677d;
    width: 50%;
    margin: 0 auto ;
    border-radius: 80px;
    color: #fff;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
}

.header h1 {
    font-size: 2rem;
    margin: 0;
}

/* Main Container */
.container {
    max-width: 700px;
    justify-content: center;
    margin: 0 auto;
    background: #52796f;
    padding: 30px;
    border-radius: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.btn {

    padding: 10px;
    background-color: #84a98c;
    color: #cad2c5;
    border: none;
    border-radius: 20px;
    width: 50%;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2f3e46;
}

/* Results Section */
.results {
    margin-top: 20px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.results h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.results ul {
    list-style: none;
    padding: 0;
}

.results li {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.results li:last-child {
    border-bottom: none;
}

/* Footer */
.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 0.9rem;
    color: #666;
}